
@{
    ViewBag.Title = "Question";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row-fluid">
    <div class="span2">

    </div>
    <div class="span8">
        <div class="maximizedown">
            <table class="table table-form table-condensed font12 kiosexam">
                <tbody>
                 
                    <tr>
                        <td class="statscontainer">
                            <table class="table table-clear table-form font12">
                                <tbody>
                                    <tr>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="summary">
                            <table class="table table-clear table-form font12">
                                <tbody>
                                    <!--ko foreach:VM.Question.items()-->
                                    <tr>
                                        <td>
                                            <b data-bind="text:title"></b>
                                            <div class="excerpt">
                                                <span data-bind="text:body"></span>
                                            </div>
                                            <div class="tags">
                                            </div>
                                            <div class="started">
                                                <div class="user-info">
                                                    <div class="user-action-time">

                                                    </div>
                                                    <div class="user-gravatar32">
                                                        <a href="#">
                                                            <img  />
                                                        </a>
                                                    </div>
                                                    <div class="user-details">
                                                        <a href="#"></a>
                                                        <div class="-flair">
                                                            <span></span>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <!--/ko-->
                                    
                                </tbody>
                            </table>

                        </td>
                    </tr>
                  
                </tbody>
            </table>
        </div>
    </div>
    <div class="span2">
    </div>
    </div>
<script>
    $(document).ready(function () {
        ko.applyBindings(VM);
        VM.Question.item.init = models_clone(VM.Question.item.current());
        VM.Answer.item.init = models_clone(VM.Answer.item.current());

        var txtid= models_getURLParameter('id');
        if (txtid != 'null') {
            VM.Question.load(txtid);
        }     

        VM.Question.isloading.subscribe(function (newval) {
            if (newval)
                $("#LOD_modal").modal({ show: true, keyboard: false, backdrop: 'static' });
            else
                $("#LOD_modal").modal('hide');
        });

    });
    var VM = {};
</script>

<script>
    VM.Question = {
        isloading: ko.observable(false),
        items: ko.observableArray([]),
        item: {
            init: {},
            current: ko.observable({
                tags: ko.observableArray([]),
                owner: ko.observable(''),
                is_answered: false,
                view_count: 0,
                answer_count: 0,
                score: 0,
                last_activity_date: 0,
                creation_date: 0,
                question_id: 0,
                link: '',
                title: '',
                body: '',
                body_markdown: '',
                last_edit_date: null
            })
        }, load: function (step) {
            VM.Question.items.removeAll();
            if (VM.Question.isloading())
                return;
            VM.Question.isloading(true);
            models_ajax("@Url.Content("~/home/getItem")",
                function (data) {
                    switch (data.status) {
                        case "OK":
                            VM.Question.isloading(false);
                            if (data.data != null) {
                                VM.Question.items(data.data);
                            }
                            if (data.arrdata1 != null) {
                                VM.Answer.items(data.data);
                            }
                            break;
                        case "ERROR":
                            VM.Question.isloading(false);
                            models_notify("ERROR", data.message);
                            break;
                    }
                }, {
                    id: step                   
                }
            )
        }

    }
</script>

<script>
    VM.Answer = {
        isloading: ko.observable(false),
        items: ko.observableArray([]),
        item: {
            init: {},
            current: ko.observable({
                comments : ko.observableArray([]),
                owner: ko.observable(''),
                is_accepted : false,
                score : 0,
                last_activity_date : 0,
                creation_date : 0,               
                answer_id : 0,
                question_id : 0,
                title : '',
                body : ''                
            })
        }
    }
</script>